# Ignore temporary build files, dependencies, logs and test output:
*.out
*.exe
*.dll
*.so
*.dylib
*-lock.json
/app/node_modules
bin/

# Files created automatically by editors and/or operating systems:
.vscode
.idea
.DS_Store

# Client certs
/client/certs/ca.key
/client/certs/client.key

# OpenSSL serial files
/client/certs/*.srl
